{% load i18n %}

<div class="alert alert-info">
    {% blocktrans with url=webhook_url trimmed %} Please configure a webhook in
    your PostFinance Checkout space to the following endpoint in order to
    automatically update payment states: <code>{{ url }}</code>
    {% endblocktrans %}
</div>

<div class="form-group">
    <label class="col-md-3 control-label">{% trans "Connection Test" %}</label>
    <div class="col-md-9">
        <button
            type="button"
            class="btn btn-default"
            id="postfinance-test-connection"
            data-test-url="{{ test_url }}"
        >
            {% trans "Test Connection" %}
        </button>
        <span id="postfinance-test-result"></span>
    </div>
</div>
